.pokemon-details {
  padding-top: 6.5rem;
}
.go-back-pokemon-page {
  border-bottom: 4px solid rgba(255, 218, 36, 0.281);
  padding: 1rem;
  transition: 0.2s ease-in;
  border-radius: var(--border-radius-small);
}
.go-back-pokemon-page:hover {
  padding-bottom: 0.5rem;
  background: rgba(255, 218, 36, 0.787);
  border-bottom: 4px solid rgba(255, 218, 36, 0.787);
}

@media screen and (min-width: 721px) {
  .pokemon-details {
    padding-top: 8.5rem;
  }
}