.page-results {
  margin: 1rem;
}
.page-results__count {
  padding: 0rem 0.4rem;
  cursor: pointer;
}
.page-results__count:hover {
  font-weight: bold;
}
.page-results__count:not(:last-child) {
  border-right: 3px solid var(--vivid-yellow);
}