.favourites {
  padding-top: 8rem;
  max-width: 90rem;
  margin: 0 auto;
}
.favourites__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.favourites .pokemon-details__card {
  margin: 2rem;
}
/* .favourite__icon {
  height: 3.5rem;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 50%;
} */