.homepage {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.homepage__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 20rem;
  height: 25rem;
}
.homepage__content__description:before {
  content: "";
  height: 5px;
  background: #fff;
  width: 17rem;
  position: absolute;
  border-radius: 10px;
  top: 15rem;
  left: 1.5rem;
}
.homepage__content__description {
  margin-top: 4rem;
  font-size: 1.2rem;
}
.find-pokemon__btn {
  background: #E63950;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 20px;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}